footer#footer.dark.bg-dark
  .container
    //.row
      .col-md-3
        .widget.widget-logo.text-center
         img.logo.logo-dark(width='auto', src='assets/img/photos/fnd-footer.jpg', alt='Okno', opacity= '0.5')
      .col-md-9
        .row
          .col-sm-6
            h5.text-muted.mb-0.mt-5 Follow Us
          .col-sm-6.text-right
            a.icon.icon-default.icon-xs(href='http://www.facebook.com/ackrostudio')
              i.fa.fa-facebook
            a.icon.icon-default.icon-xs(href='http://www.twitter.com/ackrostudio')
              i.fa.fa-twitter
        hr.sep-line.mt-40.mb-50
        .row
          .col-md-4
            .widget.widget-recent-posts
              h5.text-muted Recent Posts
              ul.list-posts
                li
                  a(href='#') Crazy developer ideas on 2016
                  span.date February 14, 2015
                li
                  a(href='#') Our road trip to London!
                  span.date February 14, 2015
                li
                  a(href='#') New iOS design concept
                  span.date February 14, 2015
            .widget.widget-instagram
              h5.text-muted Instagram Feed
              #instagram-feed.instagram-grid.clearfix(data-limit='2')
          .col-md-4
            .widget.widget-twitter
              h5.text-muted Latest Tweets
              .twitter-feed(data-count='3')
          .col-md-4
            .widget.widget-contact
              h5.text-muted Contact Us
              address
                span.text-muted Address:
                br
                |                                     A795 Folsom Ave, Suite 600
                br
                |                                     San Francisco, CA 94107
                br
                br
                span.text-muted Phone:
                br
                |                                     +48 221 909 99
                br
                br
                span.text-muted E-mail:
                br
                |                                     your.name@example.com
                br
  .footer-bottom
    .container
      .row
        .col-md-9.col-md-push-3
          span.text-muted
            | 2017©. 
            a(href='https://twitter.com/ackrostudio') ackrostudio