extends ../layout
block content
  
  .container.text-center
        span.icon.icon-xxl.icon-success.animated(data-animation='fadeIn')
          i.pe-7s-check
        h1.mb-10 Proceso completo!
        p.lead.mb-40 No tienes materias por evaluar :)
        a.btn.btn-primary.btn-sm(href='/report')
          i.i-before.ti-printer
          | Reporte 
  br