extends ../layout

block content

  #page-title.page-title.page-title-1.bg-grey
    .container
      .row
        .col-md-6
          h1
            i.ti-layout-cta-center
            | #{title}
        .col-md-6
          ol.breadcrumb
            li
              a(href='#') Home Page 
            li.active Materias
  #content
    section
      .container
        .row
          .col-md-10.col-md-push-1  
            .woocommerce
              table.shop_table.shop_table_responsive.cart.tablepress(cellspacing='0')
                thead
                  tr
                    th.product-remove
                      i.ti-layout-width-full
                    th.product-4 Código
                    th.product-name Materias
                    th.product-subtotal Estado
                tbody
                  each item in myArchive
                    tr.cart_item
                      td.product-remove
                        if item.status
                          i.ti-check-box.text-danger
                      td.product-4  #{item.codigo}
                      td.product-name(data-title='Product') #{item.materia}
                      td.product-subtotal(data-title='Product')
                        if item.status == 'True'
                          | Evaluado


                
